<p>
	<%=label_tag l("redmine_field_conditions.label_enabled") %>
	<%=check_box_tag "custom_field[field_conditions][enabled]", '1', checked: (@custom_field.conditions['enabled'] == true)  %>
	<%= l("redmine_field_conditions.label_active") %>
</p>

<% if @conditions.nil? %>
	<%=build_conditions_form(@custom_field, @conditions)%>
<% else %>
	<% @conditions['rules'].each do |obj| %>
		<%=build_conditions_form(@custom_field, obj)%>
	<% end %>
<% end %>

