<% @custom_field = @custom_table if @custom_table %>
<hr>

<div id="field_conditions">
	<%= render partial: "custom_fields/field_conditions" %>
</div>

<p>
	<%=label_tag l("redmine_field_conditions.label_expr") %>
	<%=text_area_tag "custom_field[conditions][expr]", @custom_field.conditions["expr"] %>
</p>

<%=button_tag l("redmine_field_conditions.label_button_new_rule"), type: 'button', class: 'icon icon-add', onclick:"add_blank_rule()" %>

<%=hidden_field_tag "custom_field[cf_id]", @custom_field.id %>

<script type="text/javascript">
	function submit_conditions(url){

		var $form = $('#custom_field_form')
		
		if ($('#custom_table_form').length > 0)
			$form = $("#tab-content-general > form")

		$.ajax({
	    url: url,
	    type: 'post',
	    data: $form.serialize(),
	    complete: toggleDisabledInit
	  }).error(function(jqXHR, textStatus, errorThrown){
	  	alert("Oops...)\nErr:\n"+textStatus+"\n"+errorThrown)
	  	});
	}
	function edit_field_conditions(callback)
	{
		submit_conditions('<%=url_for(action: 'edit_custom_field', controller: 'redmine_field_conditions', format: 'js')%>')
	}

	function add_blank_rule(){
		submit_conditions('<%=url_for(action: 'add_blank_condition', controller: 'redmine_field_conditions', format: 'js')%>')
	}

</script>