<% 
set_custom_object
set_parameter_name
%>
<hr>

<div id="field_conditions">
	<%= render partial: "custom_fields/field_conditions" %>
</div>

<p>
	<%=label_tag l("redmine_field_conditions.label_expr") %>
	<%=text_area_tag "#{@param_name}[conditions][expr]", @custom_field.conditions["expr"] %>
</p>

<%=button_tag l("redmine_field_conditions.label_button_new_rule"), type: 'button', class: 'icon icon-add', onclick:"add_blank_rule()", name: "#{@param_name}[conditions][button_new_rule]" %>

<%=hidden_field_tag "#{@param_name}[cf_id]", @custom_field.id %>

<script type="text/javascript">
	function submit_conditions(url){

		var $form = $('#custom_field_form')
		
		if ($('#custom_table_form').length > 0){
			// view: edit
			$form = $("#tab-content-general > form")

			// view (modal): new custom table
			if ($form.length == 0)
				$form = $('#custom_table_form')

		}

		$.ajax({
	    url: url,
	    type: 'post',
	    data: $form.serialize(),
	    complete: toggleDisabledInit
	  }).error(function(jqXHR, textStatus, errorThrown){
	  	alert("Oops...)\nErr:\n"+textStatus+"\n"+errorThrown)
	  	});
	}
	function edit_field_conditions(callback)
	{
		submit_conditions('<%=url_for(action: 'edit_custom_field', controller: 'redmine_field_conditions', format: 'js')%>')
	}

	function add_blank_rule(){
		submit_conditions('<%=url_for(action: 'add_blank_condition', controller: 'redmine_field_conditions', format: 'js')%>')
	}

	
	// Enable/disable conditions form
	function toggle_conditions_form(){
		var b = ($("input[name='custom_table[tracker_ids][]']:checked").length > 0)

		$("input, select, button").filter(function(){ return $(this).prop('name').match(/.*\[conditions\].*/); }).prop('disabled', !b)
	}

	$(document).ready(function(ev){
		/*
			A CustomTable with no Tracker is not related to an Issue.
			In this case, "conditions" shall be disabled.
		*/ 

		// check if this page is new/edit CustomTable View
		// if ($('#custom_table_form').length == 0 && $("#tab-content-general > form").length == 0 )
		// 	return;

		// custom_table tracker ids:
		var $ck = $("input[name='custom_table[tracker_ids][]']")

		if ($ck.length == 0)
			return; //this is not a custom_table form

		$ck.on('change', function(ck_event){
			toggle_conditions_form()
		});


		// on load partial:
		toggle_conditions_form();
	});
</script>